@-moz-document url-prefix("chrome://"),
url-prefix("about:") {
	:root {
		--in-content-page-background: rgb(28, 27, 34) !important;
		--in-content-page-color: rgb(251, 251, 254) !important;
		--in-content-deemphasized-text: rgb(191, 191, 201) !important;

		--in-content-box-background: rgb(35, 34, 43) !important;
		--in-content-box-background-odd: rgba(249, 249, 250, 0.05) !important;
		--in-content-box-info-background: rgba(249, 249, 250, 0.15) !important;

		--in-content-border-color: rgba(249, 249, 250, 0.2) !important;
		--in-content-border-hover: rgba(249, 249, 250, 0.3) !important;
		--in-content-border-invalid: rgb(255, 132, 139) !important;

		--in-content-error-text-color: #FF9AA2 !important;

		--in-content-button-background: rgb(43, 42, 51) !important;
		--in-content-button-background-hover: rgb(82, 82, 94) !important;
		--in-content-button-background-active: rgb(91, 91, 102) !important;
		--in-content-icon-color: rgb(251, 251, 254) !important;

		--in-content-primary-button-text-color: rgb(43, 42, 51) !important;
		--in-content-primary-button-background: rgb(0, 221, 255) !important;
		--in-content-primary-button-background-hover: rgb(128, 235, 255) !important;
		--in-content-primary-button-background-active: rgb(170, 242, 255) !important;

		--in-content-danger-button-background: #ff848b !important;
		--in-content-danger-button-background-hover: #ffbdc5 !important;
		--in-content-danger-button-background-active: #ffdfe7 !important;

		--in-content-table-background: rgb(35, 34, 43) !important;

		--in-content-accent-color: var(--in-content-primary-button-background) !important;
		--in-content-accent-color-active: var(--in-content-primary-button-background-hover) !important;
		--in-content-link-color: var(--in-content-primary-button-background) !important;
		--in-content-link-color-hover: var(--in-content-primary-button-background-hover) !important;
		--in-content-link-color-active: var(--in-content-primary-button-background-active) !important;
		--in-content-link-color-visited: var(--in-content-link-color) !important;

		--card-outline-color: var(--grey-60) !important;

		--dialog-warning-text-color: var(--red-40) !important;

		scrollbar-color: rgba(249, 249, 250, .4) rgba(20, 20, 25, .3) !important;
	}
}
