@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml") {
	radio {
		margin-inline-start: 0;
		appearance: none !important;
	}

	input[type="radio"],
	.radio-check {
		appearance: none !important;
		width: 16px !important;
		height: 16px !important;
		padding: 0 !important;
		border: 1px solid var(--in-content-box-border-color) !important;
		border-radius: 50% !important;
		margin-block: 2px !important;
		/* extend the vertical clicktarget */
		margin-inline: 0 6px !important;
		background-color: var(--in-content-button-background) !important;
		background-position: center !important;
		flex-shrink: 0 !important;
		/* avoid shrinking inside flex container */
	}

	input[type="radio"]:enabled:hover,
	radio:not([disabled="true"]):hover>.radio-check {
		background-color: var(--in-content-button-background-hover) !important;
		color: var(--in-content-button-text-color-hover) !important;
	}

	input[type="radio"]:enabled:hover:active,
	radio:not([disabled="true"]):hover:active>.radio-check {
		background-color: var(--in-content-button-background-active) !important;
	}

	input[type="radio"]:checked,
	.radio-check[selected] {
		-moz-context-properties: fill !important;
		fill: currentColor !important;
		color: var(--in-content-primary-button-text-color) !important;
		background-color: var(--in-content-primary-button-background) !important;
		background-image: url("chrome://global/skin/icons/radio.svg") !important;
		border-color: transparent !important;

		/* Style the button also when printing with "Print Backgrounds" unchecked */
		color-adjust: exact !important;
	}

	input[type="radio"]:enabled:checked:hover,
	radio:not([disabled="true"])[selected]:hover>.radio-check {
		background-color: var(--in-content-primary-button-background-hover) !important;
		color: var(--in-content-primary-button-text-color-hover) !important;
	}

	input[type="radio"]:enabled:checked:hover:active,
	radio:not([disabled="true"])[selected]:hover:active>.radio-check {
		background-color: var(--in-content-primary-button-background-active) !important;
	}

	.radio-label-box {
		margin-inline: 0 8px !important;
		padding-inline-start: 0 !important;
	}

	/* Disabled checkboxes, radios and labels */

	checkbox[disabled="true"],
	radio[disabled="true"],
	label[disabled="true"] {
		color: inherit !important;
	}

	input[type="checkbox"]:disabled,
	input[type="radio"]:disabled,
	checkbox[disabled="true"],
	radio[disabled="true"],
	label[disabled="true"] {
		opacity: 0.5 !important;
	}

	button,
	select,
	input[type="color"],
	menulist {
		appearance: none !important;
		min-height: 32px !important;
		color: inherit !important;
		border: 1px solid transparent !important;
		/* shows up in high-contrast mode */
		border-radius: var(--in-content-button-border-radius) !important;
		background-color: #1e90ff !important;
		font-weight: 400 !important;
		padding: var(--in-content-button-vertical-padding) var(--in-content-button-horizontal-padding) !important;
		text-decoration: none !important;
		margin: 4px 8px !important;
		/* Ensure font-size isn't overridden by widget styling (e.g. in forms.css) */
		font-size: 1em !important;
	}

	dropmarker[native] {
		margin-inline-end: 5px !important;
	}
}
@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml") {

	dialog#unknownContentType {
		appearance: none !important;
		background: #17171E !important;
		color: white !important;
	}

	button {
		appearance: none !important;
		background: black !important;
		color: white !important;
		border: 1px solid gray !important;
		appearance: none !important;
	}

	#openHandler {
		appearance: none !important;
		color: white !important;
		background: black !important;
	}

	#openHandlerBox {
		appearance: none !important;
		border: 1px solid gray !important;
	}
}


.videoControls #controlBar #scrubberStack {
	display: inline-block !important;
}

.videoControls #controlBar #volumeStack {
	display: inline-block !important;
}

.videoControls #pictureInPictureToggle[hidden]~#controlBar #muteButton {
	display: none !important;
}

#controlsContainer:not([hidden]) #controlBar #volumeStack {
	display: inline-block !important;
}

#controlsContainer:not([hidden]) #pictureInPictureToggle[hidden]~#controlBar #muteButton {
	display: none !important;
}

@-moz-document media-document(video) {
	#controlsContainer:not([hidden]) #controlBar #volumeStack {
		display: inline-block !important;
	}

	#controlsContainer:not([hidden]) #pictureInPictureToggle[hidden]~#controlBar #muteButton {
		display: none !important;
	}
}
@-moz-document url("chrome://mozapps/content/downloads/unknownContentType.xhtml") {
	radio {
		margin-inline-start: 0 !important;
		/*appearance: none !important;*/
	}

	input[type="radio"],
	.radio-check {
		appearance: none !important;
		width: 16px !important;
		height: 16px !important;
		padding: 0 !important;
		border: 1px solid white !important;
		border-radius: 100% !important;
		margin-block: 2px !important;
		/* extend the vertical clicktarget */
		margin-inline: 0 6px !important;
		background-color: var(--in-content-button-background) !important;
		background-position: center !important;
		flex-shrink: 0 !important;
		/* avoid shrinking inside flex container */
	}

	input[type="radio"]:enabled:hover,
	radio:not([disabled="true"]):hover>.radio-check {
		background-color: var(--in-content-button-background-hover) !important;
		color: white !important;
	}

	input[type="radio"]:enabled:hover:active,
	radio:not([disabled="true"]):hover:active>.radio-check {
		background-color: var(--in-content-button-background-active) !important;
	}

	input[type="radio"]:checked,
	.radio-check[selected] {
		-moz-context-properties: fill !important;
		fill: white !important;
		color: white !important;
		background-color: var(--in-content-primary-button-background) !important;
		background-image: url("chrome://global/skin/icons/radio.svg") !important;
		border-color: transparent !important;

		/* Style the button also when printing with "Print Backgrounds" unchecked */
		color-adjust: exact !important;
	}

	input[type="radio"]:enabled:checked:hover,
	radio:not([disabled="true"])[selected]:hover>.radio-check {
		background-color: var(--in-content-primary-button-background-hover) !important;
		color: white !important;
		fill: white !important;
	}

	input[type="radio"]:enabled:checked:hover:active,
	radio:not([disabled="true"])[selected]:hover:active>.radio-check {
		background-color: var(--in-content-primary-button-background-active) !important;
	}

	.radio-label-box {
		margin-inline: 0 8px !important;
		padding-inline-start: 0 !important;
	}

	/*

	checkbox[disabled="true"],
	radio[disabled="true"],
	label[disabled="true"] {
		color: inherit !important;
	}

	input[type="checkbox"]:disabled,
	input[type="radio"]:disabled,
	checkbox[disabled="true"],
	radio[disabled="true"],
	label[disabled="true"] {
		opacity: 0.5 !important;
	} */

	button,
	select,
	input[type="color"],
	menulist {
		appearance: none !important;
		min-height: 32px !important;
		color: inherit !important;
		border: 1px solid transparent !important;
		/* shows up in high-contrast mode */
		border-radius: var(--in-content-button-border-radius) !important;
		background-color: var(--in-content-button-background) !important;
		font-weight: 400;
		padding: var(--in-content-button-vertical-padding) var(--in-content-button-horizontal-padding) !important;
		text-decoration: none !important;
		margin: 4px 8px !important;
		/* Ensure font-size isn't overridden by widget styling (e.g. in forms.css) */
		font-size: 1em !important;
	}

	dropmarker[native] {
		margin-inline-end: 5px !important;
	}

	dialog#unknownContentType {
		background: #17171e !important;
		color: white !important;
	}

	button {
		background: #1e90ff !important;
		color: white !important;
		border: 1px solid gray !important;
		appearance: none !important;
	}

	#openHandler {
		appearance: none !important;
		color: white !important;
		background: #17171e !important;
	}

	#openHandlerBox {
		border: 1px solid gray !important;
	}
}
